<% include ../partials/header %>

<div class="container">
    <div class="row justify-content-center"> 
        <div class="col-md-12 text-center">
            <h1>Edit "<%= publication.title %>"</h1>
        </div>
         
        <div class="col-sm-12 col-md-6 col-lg-8">
            <form id="edit-publication-form" action="/publications/<%= publication._id %>/?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="seriesNumber">Number # Publication</label>
                    <input class="form-control" id="seriesNumber" type="number" name = "publication[seriesNumber]" value="<%= publication.seriesNumber%>">
                </div>
                <div class="form-group">
                    <label for="DOI">DOI</label>
                    <input class="form-control" id="DOI" type="text" name = "publication[DOI]" value="<%= publication.DOI %>">
                </div>
                <div class="form-group">
                    <label for="title">Title</label>
                    <textarea class="form-control" id="title" type="text" name = "publication[title]" form="edit-publication-form" rows="3" cols="70"><%= publication.title%></textarea>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" type="text" name= "publication[description]" form="edit-publication-form" rows="5" cols="70"><%= publication.description%></textarea>
                </div>
 
                <div class="form-group">
                    <label for="image">Uploading New Image</label>
                    <input type="file" id="image" name="image" accept="image/*">
                </div>

                <div class="form-group">
                    <label for="journal">Journal Abbreviation</label>
                    <input class="form-control" id="journal" type="text" name = "publication[journal]" value="<%= publication.journal%>">
                </div>
                <div class="form-group">
                    <label for="citation">Citation</label>
                    <input class="form-control" id="citation" type="text" name = "publication[citation]" value="<%= publication.citation%>">
                </div>
                <div class="form-group">
                    <label for="url">Url</label>
                    <input class="form-control" type="text" name="publication[url]" id="url" value="<%= publication.url%>">
                </div>
                <div class="form-group">
                    <label for="publicatedDate">PublicatedDate (no space between)</label>
                    <input class="form-control" type="text" name="publication[publicatedDate]" id="publicatedDate" value="<%= publication.publicatedDate.getFullYear() %>-<%=publication.publicatedDate.getMonth()%>-<%= publication.publicatedDate.getDate()%>">
                </div>
                <div class="form-group">
                    <label for="publicatedAuthors">PublicatedAuthors</label>
                    <input class="form-control" type="text" name="publication[publicatedAuthors]" id="publicatedAuthors" value="<%= publication.publicatedAuthors%>">
                </div> 
                <div class="form-group">
                    <button class="btn btn-lg btn-secondary btn-block">Submit</button>
                </div>
            </form>
            <a style="text-align:center" href="/publications">Add new publication</a>
        </div>
    </div>
</div>

   

<% include ../partials/footer %>