<% include ../partials/indexheader %>

<!-- Page Header -->
<header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Publications Page</h1>
                        <span class="subheading">all publications sites, this page contains all research, bala bala</span>
                        <div class="">
                            <a class="btn btn-outline-secondary float-left" href="/publications/new">Add new publication</a>
                            <form class="form-inline my-2 my-lg-0 float-right" action="/publications" method="GET">
                                <input class="form-control mr-sm-2" type="search" name="search" placeholder="Title Search" aria-label="Search">
                                <input class="btn btn-outline-secondary" type="submit" value="Search">
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>



<div class="container">
    
    <!-- display publications in a grid -->
    <div class="row justify-content-center text-center" id="publication-grid">
        <% publications.forEach(function(publication){ %>
            <!-- <div class="col-lg-3 col-md-4 col-sm-6 mb-4"> -->
            <div class = 'publication-abstract clo-lg-6'>
                <div class="card bg-info">
                    <img class="card-img-top my_img_display" src="<%= publication.image%>" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-left"><span class="seriesNumber"><%=publication.seriesNumber %></span> <%= publication.title %></h5>
                        <p> <%= publication.citation%></p>
                        <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                        <a href="/publications/<%= publication._id%>" class="btn btn-primary">More info</a>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
    
 
    <!--display page number index-->
    <nav aria-label="publications pages">
        <% if (pages && pages > 0) { %>
            <ul class="pagination justify-content-center">
                <% if (current == 1) { %>
                <li class="page-item disabled"><a class="page-link">First</a></li>
                <% } else { %>
                <li class="page-item"><a class="page-link" href="/publications">First</a></li>
                <% } %>
         
                <% if (current == 1) { %>
                <li class="page-item disabled"><a>«</a></li>
                <% } else { %>
                <li class="page-item"><a class="page-link" href="/publications?page=<%= Number(current) - 1 %>">«</a></li>
                <% } %>
         
                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                <% if (i !== 1) { %>
                <li class="page-item disabled"><a class="page-link">...</a></li>
                <% } %>
                <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                <% if (i == current) { %>
                <li class="page-item active"><a class="page-link"><%= i %></a></li>
                <% } else { %>
                <li class="page-item"><a class="page-link" href="/publications?page=<%= i %>"><%= i %></a></li>
                <% } %>
                <% if (i == Number(current) + 4 && i < pages) { %>
                <li class="page-item disabled"><a class="page-link">...</a></li>
                <% } %>
                <% } %>
         
                <% if (current == pages) { %>
                <li class="page-item disabled"><a class="page-link">»</a></li>
                <% } else { %>
                <li class="page-item"><a class="page-link" href="/publications?page=<%= Number(current) + 1 %>">»</a></li>
                <% } %>
         
                <% if (current == pages) { %>
                <li class="page-item disabled"><a class="page-link">Last</a></li>
                <% } else { %>
                <li class="page-item"><a class="page-link" href="/publications?page=<%= pages %>">Last</a></li>
                <% } %>
            </ul>
        <% } %>
    </nav>
    
</div>

<% include ../partials/footer %>
