<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Publication</p>
            <div class="list-group">
                <li class="list-group-item active">Paper Snap</li>
                <li class="list-group-item">Highlights</li>
                <li class="list-group-item">Authors</li>
            </div>
        </div>
        

        <!-- DISPLAY PUBLICATION CONTENT -->
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <img class="card-img-top mb-5 mt-5" src="<%= publication.image%>" alt="Card image cap">
                    <h5><a class="card-title"><%= publication.title%></a></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><%= publication.publicatedDate.toDateString()%> (Publicated Date)</h6>
                    <h6> <a href="<%= publication.url%>"> <%= publication.citation%> </a></h6>
                    <p class="card-text"><%= publication.description%></p>
                    <hr>
                    <a href="#" class="card-link">Highlighted by Synpact</a>
                    <hr>
                    <p>
                        <em>Submitted by: <a href="/users/<%= publication.createdAuthor.id%>"><%= publication.createdAuthor.username %></a>,  <%= moment(publication.createdAt).fromNow() %></em>
                    </p>
                    <% if( (currentUser && publication.createdAuthor.id.equals(currentUser._id)) || (currentUser && currentUser.isAdmin) ) { %>
                        <a class="btn btn-warning" href="/publications/<%= publication._id%>/edit">Edit</a>
                        <form class="delete-form" action="/publications/<%=publication._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    <% } %>
                  </div>
            </div>

        
            <!-- ADD NEW COMMENT -->
            <div class="card">
                <div class="card-body">
                    <!--Setting up the add new comment button that is used for collapsing-->
                    <div class="text-right">
                        <a class="btn btn-success float-right" role="button" data-toggle="collapse" href="#collapseComment" aria-expanded="false" aria-controls="collapseComment">
                        <i class="fas fa-plus"></i> Add new comment</a>
                    </div> 
                 
                    <!--Comment section title-->
                    <h4><strong>Comments <i class="fas fa-comment-alt"></i></span></strong></h4>
                    
                    <hr>
                    <!--Collapse Add a comment form START-->
                    <div class="collapse" id="collapseComment">
                        <div class="well" style="border-left: 5px solid #00C851;">
                            <% if(!currentUser) { %>
                          <!--If the user is not logged in, direct him to the login page-->
                          <h5>You need to login before you can comment. <a href="/login">Click here</a> to go to the login page.</h5>
                            <% } %>
                            <% if(currentUser) { %>
                          <!--If the user is logged in, show the new comment form-->
                          <h4>Write your comment <i class="fas fa-pencil-alt"></i></h4>
                          <form id="add-comment-form" action="/publications/<%= publication._id %>/comments" method="POST">
                            <div class="form-group">
                              <input class="form-control" type="text" disabled value="<%= currentUser.username %>">
                            </div>
                            <div class="form-group">
                              <textarea class="form-control" name="comment[text]" placeholder="Write your comment..." form="add-comment-form" rows="5" cols="70"></textarea>
                            </div>
                            <div class="form-group">
                              <button class="btn btn-success btn-sm">Comment <i class="fas fa-comment-alt"></i></button>
                            </div>
                          </form>
                            <% } %>
                        </div>
                    </div>
                    <!--Collapse Add a comment form END-->
                    

                    <!-- DISPLAY COMMENT -->
                    <% if (publication.comments.length === 0) { %>
                          <em style="color: grey;">No comments yet.</em>
                    <% } %>
                    
                    <!--Display comments by looping through them-->
                    <% publication.comments.forEach(function(comment) { %>
                        <div class="row">
                            <div class="col-md-12">
                                
                                <% if (currentUser && currentUser._id.equals(comment.createdAuthor.id)) { %>
                                    <!--If the current user owns the comment, change the color of the user icon-->
                                    <i style="color:orange;" class="fas fa-user"></i>
                                <% } else { %>
                                    <!--Else just display it black-->
                                    <i class="fas fa-user"></i>
                                <% } %>
                                <!--Print out the author username-->
                                <strong><%= comment.createdAuthor.username %></strong>
                            
                                <span class="float-right"><%= moment(comment.createdAt).fromNow() %></span>
                                <p> <%= comment.text %> </p>
                                
                                <% if( (currentUser && comment.createdAuthor.id.equals(currentUser._id)) || (currentUser && currentUser.isAdmin) ) { %>
                                    <form class="delete-form" action="/publications/<%= publication._id %>/comments/<%= comment._id%>?_method=DELETE" method="POST">
                                         <input type="submit" class="btn btn-sm btn-danger" value="Delete">   
                                    </form>
                                    
                                    <a class="btn btn-sm btn-warning" role="button" data-toggle="collapse" 
                                        href="#collapseEdit<%= comment._id %>" aria-expanded="false" aria-controls="collapse<%= comment._id %>">Edit
                                    </a>
                                    
                                    <!--Edit comment form-->
                                    <div class="collapse" id="collapseEdit<%= comment._id %>">
                                        <div class="well" style="border-left: 5px solid #ffbb33; margin-top: 15px;">
                                            <h4>Edit your comment <i class="fas fa-edit"></i></h4>
                                            <form id="edit-comment-form<%= comment._id %>" action="/publications/<%= publication._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
                                                <div class="form-group">
                                                  <input class="form-control" type="text" disabled value="<%= currentUser.username %>">
                                                </div>
                                                <div class="form-group">
                                                  <textarea class="form-control" name="comment[text]" placeholder="Your comment text..." form="edit-comment-form<%= comment._id %>" rows="5" cols="70"><%= comment.text %></textarea>
                                                </div>
                                                <div class="form-group">
                                                  <button class="btn btn-warning btn-sm">Edit comment <i class="fas fa-comment"></i></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                <% } %>
                                <hr>
                                
                            </div>
                        </div>
                    <% }) %>
                    
                </div>
            </div>
        </div>
    </div>
</div>



<% include ../partials/footer %>