
<% include ../partials/indexheader %>

<!-- Page Header -->
<header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Group Members</h1>
                        <span class="subheading">all publications sites, this page contains all research, bala bala</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>




<div class="container">
      
    <!-- display current group members -->
    <div class="row justify-content-center text-center" id="user-grid">
        <% currentGroupMembers.forEach(function(currentGroupMember){ %>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card ">
                    <img class="card-img-top rounded-circle img-fluid d-block mx-auto" src="<%= currentGroupMember.selfie%>" alt="Card image cap">
                    <div class="card-body bg-secondary">
                        <h5 class="card-title"><%= currentGroupMember.firstName%> <%=currentGroupMember.lastName %></h5>
                        <p>
                            Join Year: <%= currentGroupMember.joinYear.getFullYear() %>
                        </p>
                        <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                        <a href="/users/<%= currentGroupMember._id%>" class="btn btn-dark">More info</a>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>

    <!-- display former group members -->
    <div class="row justify-content-center text-center" id="user-grid">
        <% formerGroupMembers.forEach(function(formerGroupMember){ %>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card bg-info">
                    <img class="card-img-top" src="<%= formerGroupMember.selfie%>" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><%= formerGroupMember.firstName%> <%=formerGroupMember.lastName %></h5>
                        <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
                        <p>
                            Graduated Year: <%= currentGroupMember.graduateYear.getFullYear() %>
                        </p>
                        <a href="/users/<%= formerGroupMember._id%>" class="btn btn-primary">More info</a>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
    
</div>

<% include ../partials/footer %>
